html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(238, 238, 238);;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
	--nav-bg: #0a0d1c;
	--nav-bg-sec: #dfdfdf4d;
	--nav-fg-inactive: #636468;
	--nav-fg-active: #5275ff;
}
